.prettier-snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 90%;
  width: max-content;
  overflow: auto;
  margin-left: -125px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  font-size: normal;
  user-select: none;
}

.prettier-snackbar.info {
  border-left: 4px solid rgb(28, 69, 172);
  background-color: rgb(235, 245, 255);
  color: rgb(30, 66, 159);
}

.prettier-snackbar.warning {
  border-left: 4px solid rgb(237, 137, 54);
  background-color: rgb(255, 250, 240);
  color: rgb(192, 86, 33);
}

.prettier-snackbar.show {
  visibility: visible;
  -webkit-animation: prettierSnackbarFadein 0.5s,
    prettierSnackbarFadeout 0.5s 9.5s;
  animation: prettierSnackbarFadein 0.5s, prettierSnackbarFadeout 0.5s 9.5s;
}

@-webkit-keyframes prettierSnackbarFadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes prettierSnackbarFadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes prettierSnackbarFadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes prettierSnackbarFadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.pplx-toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  text-transform: none;
  color: rgb(95, 99, 104);
  color: var(--gm-neutraltextbutton-ink-color, rgb(95, 99, 104));
}

/**
  * Toggle Switch
  * https://uiverse.io/ClawHack1/itchy-bobcat-18
  */

/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #bebebe;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: rgb(26, 115, 232);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
