.prettier-snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 90%;
  width: max-content;
  overflow: auto;
  margin-left: -125px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  font-size: normal;
  user-select: none;
}

.prettier-snackbar.info {
  border-left: 4px solid rgb(28, 69, 172);
  background-color: rgb(235, 245, 255);
  color: rgb(30, 66, 159);
}

.prettier-snackbar.warning {
  border-left: 4px solid rgb(237, 137, 54);
  background-color: rgb(255, 250, 240);
  color: rgb(192, 86, 33);
}

.prettier-snackbar.show {
  visibility: visible;
  -webkit-animation: prettierSnackbarFadein 0.5s,
    prettierSnackbarFadeout 0.5s 9.5s;
  animation: prettierSnackbarFadein 0.5s, prettierSnackbarFadeout 0.5s 9.5s;
}

@-webkit-keyframes prettierSnackbarFadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes prettierSnackbarFadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes prettierSnackbarFadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes prettierSnackbarFadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
